useDynLib(SpectralMM, .registration=TRUE)
importFrom(Rcpp,evalCpp)
importFrom(stats,coef,predict,vcov,confint,pchisq,pnorm,plogis,pt,qt,qnorm,fitted,residuals,nobs,deviance,logLik)
export(spectralmm_fit)
S3method(coef,spectralmm_native)
S3method(predict,spectralmm_native)
S3method(vcov,spectralmm_native)
S3method(confint,spectralmm_native)
S3method(summary,spectralmm_native)
S3method(print,spectralmm_native)
S3method(print,summary.spectralmm_native)
export(spectralmm_glm)
export(spectralmm_control)
export(spectralmm_diagnostics)
S3method(predict,spectralmm)
S3method(fitted,spectralmm)
S3method(residuals,spectralmm)
S3method(nobs,spectralmm)
S3method(deviance,spectralmm)
S3method(logLik,spectralmm)
S3method(summary,spectralmm)
S3method(print,spectralmm)
S3method(print,summary.spectralmm)
