useDynLib(SpectralMM, .registration=TRUE)
importFrom(Rcpp,evalCpp)
importFrom(stats,coef,predict,vcov,confint,pchisq,pnorm,plogis,pt,qt,qnorm)
export(spectralmm_fit)
S3method(coef,spectralmm_native)
S3method(predict,spectralmm_native)
S3method(vcov,spectralmm_native)
S3method(confint,spectralmm_native)
S3method(summary,spectralmm_native)
S3method(print,spectralmm_native)
S3method(print,summary.spectralmm_native)
